<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="signWindow">
<div class="back"></div>
<div class="container">
    <div>
        <p class="title">Manage task</p>
    </div>
    <div class="card card-container sign">
        <div id="picture"> </div>
        <div id="icon"> </div>
        <div class="signForm">
        <p id="profile-name" class="header">WELLCOME -SIGN IN </p>

        <form class="form-signin" [formGroup]="formGroup" (ngSubmit)="submitRegister()" name="formUser">
            <span id="reauth-email" class="reauth-email"></span>

            <input type="text" class="form-control" placeholder="Enter Username" formControlName="userName" name="name">
            <div class="help-block" *ngIf="formGroup.controls['userName'].errors&&formGroup.controls['userName'].touched">
                <p *ngFor="let err of obj.values(formGroup.controls['userName'].errors)">{{err}}</p>
            </div>

            <input class="form-control" type="password" placeholder="Enter password" formControlName="password" name="password">
            <div class="help-block" *ngIf="formGroup.controls['password'].errors&&formGroup.controls['password'].touched">
                <p *ngFor="let err of obj.values(formGroup.controls['password'].errors)">{{err}}</p>
            </div>


            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me" formControlName="remember"> Remember me
                </label>
            </div>
            <div class="g-recaptcha" data-sitekey="6Lcu138UAAAAAD_L1R6JDBR8IVSBQH0OPIda_HsU"></div>

            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" [disabled]="formGroup.invalid">Sign
                in</button>

        </form>
    </div>
        <a href="javascript:void(0)" class="forgot-password" (click)="forgetPassword()">
            Forgot the password?
        </a>
    </div>
</div>
</div>