
 <a href="javascript:void(0)">
    <span class=".k-i-undo Unicode: e100"></span>
    <i class="fa fa-arrow-left" ></i>
    <a class="nav-text" [routerLink]="['/teamLeader/projectDetails']">Previous Page</a>
  </a>
<div *ngIf="messageEmpty!=''">{{messageEmpty}}</div>

<div *ngIf="barChartLabels.length>0"> 
  <div >
    <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
     </canvas>
  </div>
</div>

