<div class="card">
   <div class="card-body">
      <h5 class="card-title">{{project.project.projectName}}</h5>
      <div class="card-text">
         <label>hours for project:</label> {{project.hoursForProject}}
         <div>
            <label>sum hours done:</label> {{!project.sumHoursDone?0:project.sumHoursDone}}
         </div>
         <button kendoButton *ngIf="!isClick" (click)="clickUpdateWork(project.projectId)">start work</button>
         <button kendoButton *ngIf="stopClick" (click)="clickUpdateWork(project.projectId)">stop work</button>
         <div *ngIf="isStop">
            <signature-pad [options]="signaturePadOptions"></signature-pad>
            <button (click)="ok()">ok</button>
            <button (click)="clear()">clear</button>
          </div>
         <app-timer [isPlay]="stopClick"></app-timer>
      </div>
   </div>
</div>