
<div class="container">
   <div class="row">

      <div class="col-md-4">
         <div class="card-box width">
            <div class="card-title">
               <h2>{{project.project.projectName}}</h2>
               <p>
                  <label><b>hours for project:</b></label> {{project.hoursForProject}}
                  <label><b>sum hours done:</b></label> {{!project.sumHoursDone?0:project.sumHoursDone}}
               </p>
            </div>
            <div class="card-link">
               <button kendoButton [look]="'outline'" [primary]="true" *ngIf="!isClick" (click)="clickUpdateWork(project.projectId)">start
                  work</button>
               <button kendoButton [look]="'outline'" [primary]="true" *ngIf="stopClick" (click)="clickUpdateWork(project.projectId)">stop
                  work</button>
            </div>

            <div *ngIf="isStop">
               <label>sign here to confirm</label>
               <signature-pad [options]="signaturePadOptions"></signature-pad>
               <button (click)="ok()">ok</button>
               <button (click)="clear()">clear</button>
            </div>

            <app-timer [isPlay]="stopClick"></app-timer>
         </div>
      </div>
   </div>
</div>