
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
  }
  
  .btn {
    font-weight: 600;
    height: 40px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    padding-bottom: 37px;
      background-color: #4b0090;
  }
  
  .container{
    padding-left: 20vw;
    margin-top: 20vh;
  }
  .header{
    font-size: 20px;
      color: #730ce7
  }
  input{
    margin-bottom: 2vh
  }
  