
<div class="container">
    <div class="card card-container"> 
         <p id="profile-name" class="header">CHANGE PASSWORD </p>
    
      
        <form class="form-signin" [formGroup]="formGroup" (ngSubmit)="submitPassword()" name="formUser">
            <span id="reauth-email" class="reauth-email"></span>

            <input type="text" class="form-control" placeholder="Enter Username" formControlName="userName" name="name">
            <div class="help-block" *ngIf="formGroup.controls['userName'].errors&&formGroup.controls['userName'].touched">
                <p *ngFor="let err of obj.values(formGroup.controls['userName'].errors)">{{err}}</p>
            </div>

            <input type="password" class="form-control" placeholder="Enter password" formControlName="password"  name="password">
            <div class="help-block" *ngIf="formGroup.controls['password'].errors&&formGroup.controls['password'].touched">
                <p *ngFor="let err of obj.values(formGroup.controls['password'].errors)">{{err}}</p>
            </div>
            
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" id="login-button" [disabled]="formGroup.invalid">Save</button>
        </form>
    </div>
  
  </div>
